<div class="add-widget-modal">
    <header>
        <h2 class="title">Add Widget</h2>
    </header>
    <section>
        <div style="display:flex; justify-content:space-between">
            <label style="flex: 1">Type</label>
            <select [(ngModel)]="widget.type" style="flex: 2">
                <option [value]="'undefined'">Select a type...</option>
                <option *ngFor="let type of types" [value]="type.value">{{ type.label }}</option>
            </select>
        </div>
        <div *ngIf="widget.type !== 'undefined'">
            <pre>
                {{ getTypeProperties() | json }}
            </pre>
        </div>
    </section>
    <footer>
        <button *ngIf="widget.type !== 'undefined'">Save</button>
        <button *ngIf="widget.type === 'undefined'" (click)="destroy()">Destroy</button>
    </footer>
</div>