.add-widget-modal {
    position: absolute;
    background-color: #444;
    top: 120px;
    width: 900px;
    margin: auto;
    right: 0;
    left: 0;
    margin-bottom: 25px;
    color: #fff;
}

h2 .title {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
    border-bottom: 1px solid #555;
    display:flex; 
    justify-content:space-between; 
    align-items:center;
    height: 40px;
}

footer {
    border-top: 1px solid #555;
    height: 40px;
    display:flex;
    justify-content: flex-end;
}