.pane {
    border: 1px solid #333;
    background: #444;
    color: #fff;
    width: 300px;
    height: 200px;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #555;
}

h1 {
    padding: 0;
    margin: 0;
}

.board-toolbar {
    display: flex;
    justify-content:flex-end;
}

.pane-tools {
    list-style: none;
}

.widgets {
    display:flex;
    flex-direction: column;
}